<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="bg-dark text-white d-flex flex-column justify-content-center align-items-center vh-100">
    <header class="text-center mb-4">
        <h1 class="display-4">Game of the Year Vote 2024</h1>
        <p class="lead">Aby wziąć udział w głosowaniu, zaloguj się za pomocą przycisku poniżej.</p>
        <!--<p class="lead">Głosowanie zostało zakończone, przejdź do wyników klikając na przycisk Zobacz Wyniki. Aby zobaczyć swoje głosy, zaloguj się za pomocą Discorda.</p>-->
    </header>
    <div class="text-center">
        <button class="btn btn-primary btn-lg d-flex align-items-center justify-content-center gap-2 mb-3 login-button"
            style="border-color: #5865F2; background-color: #5865F2;">
            <img src="https://images-eds-ssl.xboxlive.com/image?url=4rt9.lXDC4H_93laV1_eHHFT949fUipzkiFOBH3fAiZZUCdYojwUyX2aTonS1aIwMrx6NUIsHfUHSLzjGJFxxsG72wAo9EWJR4yQWyJJaDb6rYcBtJvTvH3UoAS4JFNDaxGhmKNaMwgElLURlRFeVkLCjkfnXmWtINWZIrPGYq0-" alt="Discord" class="dslogo">
            <span>Zaloguj się za pomocą Discorda</span>
        </button>

        <!--<button class="btn btn-success btn-lg results-button">
            Zobacz Wyniki
        </button>-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>