{% load static %}
<!DOCTYPE html>
<html lang="pl">

{% include 'partial/head.html' with title='Głosowanie' %}
<!-- 1 tura - dodac druga -->
<body class="bg-dark text-white">
    {% include 'partial/nav.html' %}
    <div class="container py-5">
        <header class="text-center mb-5">
            <h1 class="display-4">Game of the Year Vote 2024</h1>
            <p class="lead">
                Poniżej znajdziesz listę większych premier z roku 2024. Aby ją nominować, naciśnij przycisk Tak w
                kolumnie Głos, natomiast jeśli uważasz że gra nie zasługuje na nominację, naciśnij przycisk Nie. Jeśli
                nie chcesz nominować gry, odznacz wcześniej zaznaczoną opcję. 6 gier o najlepszym wyniku głosowania
                przejdzie do wyboru gry roku 2024, a 6
                gier o najgorszym wyniku przejdzie do wyboru najgorszej gry roku 2024. Twoje wybory zapisują się w
                czasie rzeczywistym.
            </p>
            <!--<p class="lead">
                Głosowanie zostało zakończone. Poniżej znajdują się oddane przez ciebie głosy. Jeśli chcesz zobaczyć wyniki głosowania, przejdź na stronę Wyniki.
            </p>-->
        </header>
        <div class="mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Wyszukaj..." oninput="filterTable()">
        </div>
        <div class="table-responsive">
            <table id="sortableTable" class="table table-dark table-striped table-bordered align-middle">
                <thead>
                    <tr>
                        <th scope="col">Grafika</th>
                        <th scope="col" onclick="sortTable(1)" class="sortable">Tytuł<span id="arrow-1"
                                class="sort-arrow"></span></th>
                        <th scope="col" onclick="sortTable(2)" class="sortable">Deweloper<span id="arrow-2"
                                class="sort-arrow"></span></th>
                        <th scope="col" onclick="sortTable(3)" class="sortable">Gatunek<span id="arrow-3"
                                class="sort-arrow"></span></th>
                        <th scope="col" onclick="sortTable(4)" class="sortable">Data wydania<span id="arrow-4"
                                class="sort-arrow"></span></th>
                        <th scope="col">Głos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="game-image-col">
                            <img src="{games[i].image}" class="game-image">
                        </td>
                        <td>{games[i].title}</td>
                        <td>{games[i].dev}</td>
                        <td>{games[i].genre}</td>
                        <td>{games[i].date}</td>
                        <td>
                            <!--
                                After voting example
                            -->
                            <div class="action-buttons">
                                <input type="checkbox" name="glos-1" id="tak-1" value="1" disabled
                                    onclick="handleCheckboxChange(this, 1)">
                                <label for="tak-1">Tak</label>

                                <input type="checkbox" name="glos-1" id="nie-1" value="-1" checked disabled
                                    onclick="handleCheckboxChange(this, -1)">
                                <label for="nie-1">Nie</label>

                                <input type="checkbox" name="glos-1" id="brak-1" value="0" disabled  
                                    onclick="handleCheckboxChange(this, 0)">
                                <label for="brak-1" style="display:none;">Brak</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="game-image-col">
                            <img src="{games[i].image}" class="game-image">
                        </td>
                        <td>{games[i].title}</td>
                        <td>{games[i].dev}</td>
                        <td>{games[i].genre}</td>
                        <td>{games[i].date}</td>
                        <td>
                            <!--
                                Before voting example
                            -->
                            <div class="action-buttons">
                                <input type="checkbox" name="glos-2" id="tak-2" value="1" 
                                    onclick="handleCheckboxChange(this, 1)">
                                <label for="tak-2">Tak</label>

                                <input type="checkbox" name="glos-2" id="nie-2" value="-1"
                                    onclick="handleCheckboxChange(this, -1)">
                                <label for="nie-2">Nie</label>

                                <input type="checkbox" name="glos-2" id="brak-2" value="0" checked 
                                    onclick="handleCheckboxChange(this, 0)">
                                <label for="brak-2" style="display:none;">Brak</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/vote.js' %}"></script>
</body>

</html>