{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="pl">

{% include 'partial/head.html' with title='Głosowanie' %}
<body class="bg-dark text-white">
{% include 'partial/nav.html' %}
<div class="container py-5">
    <header class="text-center mb-5">
        <h1 class="display-4">Game of the Year Vote 2024</h1>
        <p class="lead">
            <!-- przenieść do FAQ -->
            Poniżej znajdziesz listę większych premier z roku 2024. Aby ją nominować, naciśnij przycisk Tak w
            kolumnie Głos, natomiast jeśli uważasz, że gra nie zasługuje na nominację, naciśnij przycisk Nie. Jeśli
            nie chcesz nominować gry, odznacz wcześniej zaznaczoną opcję. 6 gier o najlepszym wyniku głosowania
            przejdzie do wyboru gry roku 2024, a 6
            gier o najgorszym wyniku przejdzie do wyboru najgorszej gry roku 2024. Twoje wybory zapisują się w
            czasie rzeczywistym.
        </p>
    </header>
    <div class="mb-3">
        <input class="form-control" id="searchInput" oninput="filterTable()" placeholder="Wyszukaj..." type="text">
    </div>
    {% if stage == 1 %}
    <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered align-middle" id="sortableTable">
            <thead>
            <tr>
                <th scope="col">Grafika</th>
                <th class="sortable" onclick="sortTable(1)" scope="col">Tytuł<span class="sort-arrow"
                                                                                   id="arrow-1"></span></th>
                <th class="sortable" onclick="sortTable(2)" scope="col">Deweloper<span class="sort-arrow"
                                                                                       id="arrow-2"></span></th>
                <th class="sortable" onclick="sortTable(3)" scope="col">Gatunek<span class="sort-arrow"
                                                                                     id="arrow-3"></span></th>
                <th class="sortable" onclick="sortTable(4)" scope="col">Data wydania<span class="sort-arrow"
                                                                                          id="arrow-4"></span>
                </th>
                <th scope="col">Głos</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
            <tr>
                <td class="game-image-col">
                    <div class="game-image-container">
                        <img class="game-image big-game-image" src="{{game.image_url}}">
                    </div>
                </td>
                <td>{{ game.name }}</td>
                <td>{{ game.developer }}</td>
                <td>{{ game.genre }}</td>
                <td>{{ game.release_date|date:"c" }}</td>
                <td>
                    <div class="action-buttons">
                        <input class="yes" type="checkbox" name="{{ game.id }}" id="tak-{{ game.id }}" value="1"
                            onclick="handleCheckboxChange(this, 1)"
                               {%if user_votes|get_value:game.id == 1 %} checked {%endif%}
                               {%if locked_vote %} disabled {%endif%}
                        >
                        <label for="tak-{{ game.id }}">Tak</label>

                        <input class="no" id="nie-{{ game.id }}" name="{{ game.id }}" onclick="handleCheckboxChange(this, -1)" type="checkbox"
                               value="-1"
                               {%if user_votes|get_value:game.id == -1 %} checked {%endif%}
                               {%if locked_vote %} disabled {%endif%}
                        >
                        <label for="nie-{{ game.id }}">Nie</label>


                        <input id="brak-{{ game.id }}" name="{{ game.id }}" onclick="handleCheckboxChange(this, 0)" type="checkbox"
                               value="0"
                               {%if locked_vote %} disabled {%endif%}
                        >
                        <label for="brak-{{ game.id }}" style="display:none;">Brak</label>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {%elif stage == 2 %}
        {% include 'partial/final_vote.html' with title='Najlepsza gra' category='best' games=games.best expected_value=1 %}
        {% include 'partial/final_vote.html' with title='Najgorsza gra' category='worst' games=games.worst expected_value=-1 %}
    {%endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{%if not locked_vote %}
<script src="{% static 'js/vote.js' %}"></script>
{%endif%}
</body>

</html>