{% load static %}
{% load humanize %}
{% load custom_filters %}
<p class="lead">
    Liczba gier: <b>{{ results_stage_1.games_count|intcomma }}</b>
</p>
<p class="lead">
    Liczba głosujących w pierwszej turze: <b>{{ results_stage_1.total_voters|intcomma }}</b>
</p>
<p class="lead">
    Łączna liczba głosów: <b>{{ results_stage_1.total_votes|intcomma }}</b>
</p>
<p class="lead">
    Liczba głosów za: <b>{{ results_stage_1.positive_votes|intcomma }}</b>
</p>
<p class="lead">
    Liczba głosów przeciw: <b>{{ results_stage_1.negative_votes|intcomma }}</b>
</p>
<p class="lead">
    <h3>
        Lista gier nominowanych do Najlepszej Gry Roku 2024:
    </h3>
</p>
{% include 'partial/finalists.html' with games=results_stage_1.best_games %}
<p class="lead">
    <h3>
        Lista gier nominowanych do Najgorszej Gry Roku 2024:
    </h3>
</p>
{% include 'partial/finalists.html' with games=results_stage_1.worst_games %}
<p class="lead">
    <h3>Wyniki</h3>
</p>
<script>
    const totalVotes = {{ results_stage_1.total_voters }};
    const gameNames = {{ results_stage_1.scores.games|extract_column:'name'|safe }};
    const yesVotes = {{ results_stage_1.scores.games|extract_column:'positive' }};
    const noVotes = {{ results_stage_1.scores.games|extract_column:'negative' }};

    document.addEventListener('DOMContentLoaded', () => {
        const ctx = document.getElementById('voteChart').getContext('2d');
        const chartData = populateChartData(gameNames, totalVotes, yesVotes, noVotes);

        chartInstance = createChart(ctx, chartData);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/results.js' %}"></script>
<div style="height: 1920px">
    <canvas id="voteChart" class="mb-5"></canvas>
</div>