{% load humanize %}
{% load mathfilters %}
<table class="table table-dark table-bordered text-center mb-5">
    <tbody class="result-table">
        <tr>
            <th style="width: 10%;"></th>
            {% for game in games %}
            <td class="table-images">
                <div class="game-image-container-small">
                    <img src="{{game.image_url}}" class="game-image small-game-image">
                </div>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            {% for game in games %}
            <td>
                <h4>{{game.name}}</h4>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            {% for game in games %}
            <td>
                <h6><i>{{game.developer}}</i></h6>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th>
                Wynik
            </th>
            {% for game in games %}
            <td>
                {{game.margin|intcomma}} ({{game.margin|div:results.total_voters|mul:100|floatformat:2}}%)
            </td>
            {% endfor %}
        </tr>
        {% if stage == 1 %}
        <tr>
            <th>
                Za
            </th>
            {% for game in games %}
            <td style="color: #66CCCC">
                {{game.positive|intcomma}} ({{game.positive|div:results.total_voters|mul:100|floatformat:2}}%)
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th>
                Przeciw
            </th>
            {% for game in games %}
            <td style="color: #FF6384">
                {{game.negative|intcomma}} ({{game.negative|div:results.total_voters|mul:100|floatformat:2}}%)
            </td>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            <th>
                Gatunek
            </th>
            {% for game in games %}
            <td>
                {{game.genre}}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th>
                Data wydania
            </th>
            {% for game in games %}
            <td>
                <i>{{game.release_date|date:"j E Y"}}</i>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
